<!DOCTYPE html>
<html>

<head>
    <title>dish</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body bgcolor="#ecd6c7">


<form method="post" >

    {{dish.hidden_tag()}}
    <table width="100%" height="400" >
        <tr><td align="center" valign="center" >
 
            <p>{{dish.table_no.label}} {{dish.table_no}}</p>
    
            <p>{{dish.seat_no.label}} {{dish.seat_no}}</p>

            <p>{{dish.status.label}} {{dish.status}}</p>

            <p>{{dish.submit.label}}  {{dish.submit}}</p>
        </td></tr>
    </table>    
 
</form>

</body>

</html>